.active {
     text-decoration: none;
     color: white;
     border-bottom: 5px solid #F04840;
     font-size: 25px;
     font-weight: lighter;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.default {
     text-decoration: none;
     color: white;
     font-size: 25px;
     font-weight: lighter;
}
